<!-- div created to give gap between navbar and router outlet content -->
<div class="gap"></div>


<div class="wrapper flex">

    <!-- main section starts -->
    <div class="main full-width-sm">

        <!-- quote create from starts -->
        <app-quote-create class="quote-form"></app-quote-create>
        <!-- quote create form -ends -->


        <div class="gap"></div>

        <div class="small-screen-suggestion-wrapper hidden-md">

            <p>Follow suggestions</p>
            <app-suggestion class="small-screen-suggestion flex"></app-suggestion>

        </div>

        <div *ngIf="processing" class="skeletons">
            <div class="newsfeed-skeleton" *ngFor="let i of [1, 2, 3, 4, 5]">

                <ngx-skeleton-loader class="profile-pic-skeleton" count="1" appearance="circle"></ngx-skeleton-loader>
    
                <ngx-skeleton-loader 
                class="line-skeleton-one" 
                count="1" 
                appearance="line"
                [theme]="{
                    'display' : 'block', 
                    'width' : '50%'
                  }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader class="line-skeleton-two" count="1" appearance="line"></ngx-skeleton-loader>
                <ngx-skeleton-loader 
                class="line-skeleton-three" 
                count="1" 
                appearance="line"
                [theme]="{
                    'display' : 'block', 
                    'width' : '70%'
                  }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader class="line-skeleton-four" count="1" appearance="line"></ngx-skeleton-loader>
    
            </div>
        </div>


        <!-- newsfeed starts -->
        <app-newsfeed *ngIf="data.quotes.length > 0" class="newsfeed" [quotes]="data.quotes" ></app-newsfeed>
        <!-- newsfeed ends -->

    </div>
    <!-- main section ends -->


    <!-- sidebar section starts -->
    <div class="sidebar hidden-sm">

        <div class="suggestions-wrapper">
            <div class="suggestions">

                <p>Follow suggestions</p>
                <app-suggestion></app-suggestion>
    
                <div class="footer">
                    <p>&copy; 2020 witverse</p>
                </div>
    
            </div>
        </div>
                
    </div>
    <!-- sidebar section ends -->

</div>