<!-- div created to give gap between navbar and router outlet content -->
<div class="gap"></div>


<div class="wrapper flex">

    <!-- main section starts -->
    <div class="main full-width-sm">

        <!-- quote create from starts -->
        <app-quote-create class="quote-form"></app-quote-create>
        <!-- quote create form -ends -->

        <!-- newsfeed starts -->
        <app-newsfeed *ngIf="data.quotes.length > 0" class="newsfeed" [quotes]="data.quotes" ></app-newsfeed>
        <!-- newsfeed ends -->

    </div>
    <!-- main section ends -->


    <!-- sidebar section starts -->
    <div class="sidebar hidden-sm">

        <app-trending *ngIf="trends" class="trends" [trends]=""></app-trending>

    </div>
    <!-- sidebar section ends -->

</div>