.flex{

    display: flex;

}

.wrapper{

    justify-content: space-evenly;
}

.main{

    width: 50%;
}

.sidebar{

    width: 30%;
}

.fixed{

    position: absolute;
}

.stretch-width{

    width : 100vw;
}