<mat-card>

    <mat-card-header>

        <mat-card-title>Trending</mat-card-title>

        <span class="spacer"></span>

        <mat-icon>trending_up</mat-icon>

    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        
        <ul class="trends-list">

            <li *ngFor="let trend of trends">

                <div class="flex">

                    <h4> {{trend.content}} </h4>

                    <span class="spacer"></span>

                    <h4>{{trend.density}}</h4>

                </div>

            </li>
        </ul>
        
    </mat-card-content>

    <mat-divider></mat-divider>
    
    <mat-card-footer>

        <span class="footer-text flex">
            
            <small>&copy; 2020 witverse</small>

        </span>

    </mat-card-footer>
</mat-card>