.content{

    height: 100%;
    overflow-y: auto;
}

.posts, .posts-skeleton{

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post-container, .post-skeleton{

    width: 50%;
    padding: 10px;
}

@media screen and (max-width : 741px){

    .post-container, .post-skeleton{

        width: 100%;
        flex: 1 1 auto;
    }
}