<mat-card *ngIf="comment">
    <mat-card-header>
        <div class="user-profile" mat-card-avatar [style.backgroundImage]="'url(' + url + comment.author.displayImage + ')'"></div>
        
        <div class="comment spacer">
            <p class="comment-text">
              {{comment.text}}
            </p>
        </div>
        
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

            <button *ngIf="comment.isOwned" mat-menu-item (click)="delete()">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
            <button *ngIf="!comment.isOwned" mat-menu-item>
              <mat-icon>report</mat-icon>
              <span>Report</span>
            </button>

        </mat-menu>
    </mat-card-header>
</mat-card>