<mat-card>

    <!-- header starts -->
    <mat-card-header>

        <div class="header flex">

            <span class="left">

                <!-- author display image starts -->
                <button class="author-display-image-button" mat-icon-button>
                    <div class="author-display-image" mat-card-avatar [style.backgroundImage]="'url('+quote.author.displayImage+')'"></div>
                </button>
                <!-- author display image ends -->

            </span>

            <span class="right">

                <!-- menu button starts -->
                <button class="menu-button" mat-icon-button>
                    <mat-icon class="menu-icon">more_vert</mat-icon>
                </button>
                <!-- menu button ends -->

            </span>


        </div>

    </mat-card-header>
    <!-- header ends -->

    <!-- mat divider starts -->
    <mat-divider></mat-divider>
    <!-- mat divider ends -->

    <!-- content starts -->
    <mat-card-content>
        <div class="content flex">
            {{quote.text}}
        </div>
    </mat-card-content>
    <!-- content ends -->

    <!-- actions start -->
    <mat-card-actions>
        <div class="actions flex">

            <!-- left section starts -->
            <span class="left">
                
                <!-- like button starts -->
                <button class="like-button" *ngIf="!(quote.isLiked)" mat-icon-button>

                    <mat-icon class="like-icon" >favorite_border</mat-icon>

                </button>
                <button class="unlike-button" *ngIf="quote.isLiked" mat-icon-button>

                    <mat-icon class="unlike-icon">favorite</mat-icon>

                </button>
                <!-- like button ends -->

                <!-- comment button starts -->
                <button class="comment-icon" mat-icon-button>

                    <mat-icon class="comment-icon">comment</mat-icon>

                </button>
                <!-- comment button ends -->
            </span>
            <!-- left section ends -->


            <!-- right section starts -->
            <span class="right">

                <!-- save button starts -->
                <button class="save-button" *ngIf="!(quote.isSaved)" mat-icon-button>
                    <mat-icon class="save-icon">bookmark_border</mat-icon>
                </button>
                <button class="unsave-button" *ngIf="quote.isSaved" mat-icon-button>
                    <mat-icon class="unsave-icon">bookmark</mat-icon>
                </button>
                <!-- save button ends -->

            </span>
            <!-- right section ends -->


        </div>
    </mat-card-actions>
    <!-- actions end -->
</mat-card>