<mat-card>
    <mat-card-header>
 
        <div class="author-display-image" mat-card-avatar [style.backgroundImage]=" 'url(' + quote.author.displayImage + ')' "></div>
        <mat-card-title>{{quote.author.username}}</mat-card-title>
        <mat-card-subtitle>{{quote.author.firstname}} {{quote.author.lastname}}</mat-card-subtitle>

        <!-- spacer starts -->
        <span class="spacer"></span>
        <!-- spacer ends -->

        <button mat-icon-button>
            <mat-icon>more_horiz</mat-icon>
        </button>

    </mat-card-header>

    <!-- mat divider starts -->
    <mat-divider></mat-divider>
    <!-- mat divider ends -->

    <mat-card-content>

        <!-- quotation icon starts -->
        <mat-icon class="quote-icon">format_quote</mat-icon>
        <!-- quotation icon ends -->

        <p class="content-container flex word-wrap">
            
            {{quote.text}}

        </p>

    </mat-card-content>

    <!-- mat divider starts -->
    <mat-divider></mat-divider>
    <!-- mat divider ends -->

    <mat-card-actions>

        <div class="flex">
            <!-- like/unlike button starts -->
            <button mat-icon-button *ngIf="quote.isLiked">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button  *ngIf="!(quote.isLiked)">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <!-- like/unlike button ends -->

            <!-- comment button starts -->
            <button mat-icon-button>
                <mat-icon>comment</mat-icon>
            </button>
            <!-- comment button ends -->

            <!-- spacer starts -->
            <span class="spacer"></span>
            <!-- spacer ends -->

            <!-- share button starts -->
            <button mat-icon-button>
                <mat-icon>share</mat-icon>
            </button>
            <!-- share button ends -->

            <!-- save button starts -->
            <button mat-icon-button *ngIf="quote.isSaved">
                <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!(quote.isSaved)">
                <mat-icon>bookmark_border</mat-icon>
            </button>
            <!-- save button ends -->
        </div>
    </mat-card-actions>
</mat-card>