/*angular material theme import*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*angular material icons*/
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


/*adding global styles for tags*/

*{
    box-sizing: border-box;
}

body{

    background-color: rgb(250, 250, 250);
    padding: 0;
    margin: 0;

}

//global  classes
.flex{

    display: flex;
}

.flex-row{

    flex-direction: row;
}

.flex-column{

    flex-direction: column;
}

.spacer{

    flex : 1 1 auto;
}

.gap{

    min-height: 3vh;
}

//responsive classes
@media screen and (max-width : 740px){

    .hidden-sm{

        display: none;
    }

    .full-width-sm{

        width: 100%;
        flex : 1 1 auto;
    }
}