<mat-card>
    <mat-card-header>
        <div class="user-display-image" mat-card-avatar></div>
    </mat-card-header>
    <mat-card-content>

        <form class="quote-form" [formGroup]="form">

            <!-- quote input starts -->
            <p>
                <mat-form-field class="quote-form-field" appearance="outline">
                    <mat-label>Write quote</mat-label>

                    <!-- input field starts -->
                    <input 
                        class="quote-input-field" 
                        matInput 
                        placeholder="what's on your mind?" 
                        autocomplete="off" 
                        formControlName="text">
                    <!-- input field ends -->

                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-hint>Ex: failure is first step to success.</mat-hint>
                    <mat-error *ngIf="form.invalid">{{errors.text}}</mat-error>
                </mat-form-field>

            </p>
            <!-- quote input ends -->

            <!-- quote tags starts -->
            <p>
                <mat-form-field class="quote-tags-field">
                    <mat-chip-list #chipList aria-label="tag selection">
                    <mat-chip *ngFor="let tag of form.get('tags').value" 
                        [selectable]="true"
                        [removable]="true" 
                        (removed)="removeTag(tag)">

                        {{tag}}

                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>

                    </mat-chip>
                    <input placeholder="Tags..."
                            matInput
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="tagSeperatorKeys"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addTag($event)"
                            autocomplete="off">
                    </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="form.invalid">{{errors.tags}}</mat-error>
            </p>
            <!-- quote tags end -->

        </form>

    </mat-card-content>
    <mat-card-actions class="flex">

        <!-- emotions container start -->
        <div class="emotions">

            <button class="happy-button" mat-icon-button (click)="selectEmotion('happy')">
                <mat-icon class="happy-icon" [class.selected-emotion]="isEmotion('happy')">sentiment_very_satisfied</mat-icon>
            </button>
            <button class="sad-button" mat-icon-button (click)="selectEmotion('sad')">
                <mat-icon class="sad-icon" [class.selected-emotion]="isEmotion('sad')">sentiment_very_dissatisfied</mat-icon>
            </button>
            <button class="neutral-button" mat-icon-button (click)="selectEmotion('neutral')">
                <mat-icon class="neutral-icon" [class.selected-emotion]="isEmotion('neutral')">sentiment_satisfied</mat-icon>
            </button>
            <mat-error *ngIf="form.invalid">{{errors.emotion}}</mat-error>
            
        </div>
        <!-- emotions container ends -->

        <span class="spacer"></span>

        <!-- send container starts -->
        <div class="send">

            <button class="send-button" [disabled]="form.invalid" mat-icon-button (click)="submit()">
                <mat-icon class="send-icon">send</mat-icon>
            </button>

        </div>
        <!-- send container ends -->

    </mat-card-actions>
</mat-card>