.user-display-image{
    
    background-size: cover;
}

.quote-form-field, .quote-input-field{

    width: 100%;
    min-height: 10vh;
}

.quote-tags-field{

    width: 100%;
}

.selected-emotion{

    color : rgb(5, 51, 255);
}