<span>
    <button mat-icon-button routerLink="home" routerLinkActive="active">
        <mat-icon aria-label="home navigation icon">home</mat-icon>
    </button>
    <button mat-icon-button routerLink="explore"  routerLinkActive="active">
        <mat-icon aria-label="explore navigation icon">explore</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['profile', data.user._id]"  routerLinkActive="active">
        <mat-icon aria-label="profile navigation icon">face</mat-icon>
    </button>
</span>

